<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes de la Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Reporte de Libros Más Prestados</h1>

        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID Libro</th>
                    <th>Título</th>
                    <th>Cantidad de Prestamos</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in reporte %}
                <tr>
                    <td>{{ libro.id_libro }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.cantidad_prestamos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('main_bp.Inicio') }}" class="btn btn-primary mt-3">Volver al inicio</a>
    </div>
</body>
</html>
